version: '3'
services:
    payment_app:
        container_name: payment_web
        build:
            context: ./docker
            dockerfile: Dockerfile
            args:
                WWWGROUP: www-data
        ports:
            - '${APP_PORT:-80}:80'
        environment:
            WWWUSER: www-data
            LARAVEL_SAIL: 1
        volumes:
            - '.:/var/www/html'
            - "./docker/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini"
            - "./docker/000-default.conf:/etc/apache2/sites-available/000-default.conf"
        networks:
            - payment
        depends_on:
            - payment_mysql
    payment_mysql:
        container_name: payment_db
        image: 'mysql:8.0'
        ports:
            - '${FORWARD_DB_PORT:-3306}:3306'
        environment:
            MYSQL_ROOT_PASSWORD: 'admin'
            MYSQL_DATABASE: 'payment'
            MYSQL_USER: 'admin'
            MYSQL_PASSWORD: 'admin'
            MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
        networks:
            - payment
        healthcheck:
          test: ["CMD", "mysqladmin", "ping"]
networks:
    payment: